@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["WorkPlot"];
}
<div class="page-title__header"><h1 class="page-title">@Localizer["WorkPlot"]</h1></div>
<div class="row g-3 mb-4">
    <div class="col-md-4">
        <a asp-controller="Application" asp-action="Add" class="btn u-btn u-btn--person fw-bold">@Localizer["AddApplication"]</a>
    </div>
</div>

<nav class="dashboard mt-4" aria-label="dashboard navigation">
    <div class="row g-3">
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Application")" class="dashboard-card">
                <div class="dashboard-card__icon dashboard-card__icon--type1">
                </div>
                <h2 class="dashboard-card__title">@Localizer["Applications"]</h2>
                <p class="dasboard-card__description">@Localizer["ApplicationSendList"]</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("IndexDraft", "Application")" class="dashboard-card">
                <div class="dashboard-card__icon dashboard-card__icon--type2">
                </div>
                <h2 class="dashboard-card__title">@Localizer["ApplicationDraftListTitle"]</h2>
                <p class="dasboard-card__description">@Localizer["ApplicationDraftList"]</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Report")" class="dashboard-card">
                <div class="dashboard-card__icon dashboard-card__icon--type3">
                </div>
                <h2 class="dashboard-card__title">@Localizer["Report"]</h2>
                <p class="dasboard-card__description">@Localizer["ReportText"]</p>
            </a>
        </div>
    </div>
</nav>
@section Styles {
    <link href="~/css/home.css" rel="stylesheet" />
}
