@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@{
    string title = Localizer["ReportTitle"].Value;

    ViewData["Title"] = title;
    await Html.RenderPartialAsync("_TitleWithBack", title);
}
<nav class="dashboard mt-4" aria-label="dashboard navigation">
    <div class="row g-3">
        <div class="col-md-4">
            <a href="@Url.Action("IndexOnStatus", "Report")" class="dashboard-card">
                <h2 class="dashboard-card__title">@Localizer["ReportOnStatus"]</h2>
                <p class="dasboard-card__description">@Localizer["ReportOnStatusText"]</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("IndexOnForeigner", "Report")" class="dashboard-card">
                <h2 class="dashboard-card__title">@Localizer["ReportOnForeigner"]</h2>
                <p class="dasboard-card__description">@Localizer["ReportOnForeignerText"]</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("IndexComplaint", "Report")" class="dashboard-card">
                <h2 class="dashboard-card__title">@Localizer["Complaints"]</h2>
                <p class="dasboard-card__description">@Localizer["ComplaintSendList"]</p>
            </a>
        </div>
    </div>
</nav>

@section Styles {
    <link href="~/css/home.css" rel="stylesheet" />
}
