@using BlueCardPortal.Core.Helper
@using BlueCardPortal.Infrastructure.Model.Application
@using Microsoft.Extensions.Localization
@model ForeignerSmallVM
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@{
    string? action = Model.IsEdit ? Localizer["Save"]?.Value : Localizer["Add"]?.Value;
}

<form action="@Url.Action("ForeignerSmallEdit", "Application")" id="ForeignerSmallEdit" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Index)
    @Html.HiddenFor(x => x.Id)
    <div class="row mb-2">
        <div class="col-12">
            @Html.EditorFor(x => x.Name, "StringNullable")
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            @Html.EditorFor(x => x.NameCyrilic, "StringNullable", new { @class = "foreigner-small-item" })
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            @Html.EditorFor(x => x.BirthDate, "DateTimeNull", new { @class = "foreigner-small-item" })
        </div>
        <div class="col-4">
            @Html.EditorFor(x => x.PassportNumber, "StringNullable")
        </div>
        <div class="col-4">
            @Html.EditorFor(x => x.NationalityCode, "DropDown", new { @class = "select2-drop-down", Ddl = ViewBag.Countries_ddl })
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            @Html.EditorFor(x => x.Position, "StringNullable", new { @class = "foreigner-small-item" })
        </div>
        <div class="col-4">
            @Html.EditorFor(x => x.DurationOfEmploymentFrom, "DateTimeNull")
        </div>
        <div class="col-4">
            @Html.EditorFor(x => x.DurationOfEmploymentTo, "DateTimeNull")
        </div>
    </div>
    <div class="form__footer text-right">
        <div></div>
        <button type="button" class="btn u-btn u-btn--right" data-isedit="@Model.IsEdit" onclick="ForeignerSmallEdit(this)">@action</button>
    </div>
</form>
