@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="@requestCulture.RequestCulture.UICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="~/lib/tempus-dominus/dist/css/tempus-dominus.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/secondary.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/steps.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <nav class="navbar navbar-bluecard">
        <a class="navbar-brand branding" asp-controller="Home" asp-action="Index">
            <img class="site-logo" src="~/images/logo.svg" />
            <div class="site-title">
                <div class="title-text">@Localizer["Title"]</div>
                <div class="small-title-text">@Localizer["SmallTitle"]</div>
            </div>
        </a>
        <ul class="nav justify-content-end">
            <partial name="_LoginPartial" />
            <partial name="_LanguagePartial" />
        </ul>
    </nav>
    @{
        await Html.RenderPartialAsync("_ModalDialog");
    }
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="footer-container">
        <div class="section-footer-v">
            <div class="top-row">
                <div class="support">
                    <div class="support-title">@Localizer["FooterTitle"]</div>
                    <div class="data">
                        <div class="data-item">
                            <div class="support-label">@Localizer["Phone"]</div>
                            <div class="support-info">02 9876543</div>
                        </div>
                        <div class="data-item">
                            <div class="support-label">@Localizer["Email"]</div>
                            <div class="support-info">support@egov.bg</div>
                        </div>
                        <div class="data-item">
                            <div class="support-label">@Localizer["Other"]</div>
                            <div class="horizontal-menu">
                                <div class="support-menu-item">@Localizer["Rules"]</div>
                                <div class="support-menu-item">@Localizer["About"]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="divider"></div>
                <div class="frame">
                    <div class="frame-2">
                        <p class="copyright">@Localizer["Copyright"]</p>
                        <p class="about-info">
                            <a href="#" target="_blank" rel="noopener noreferrer"><span class="about-info-text">@Localizer["PrivacyPolicy"]</span></a>
                            <span class="about-text-divider">&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <a href="#" target="_blank" rel="noopener noreferrer"><span class="about-info-text">@Localizer["AccessabilityPolicy"]</span></a>
                            <span class="about-text-divider">&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <a href="#" target="_blank" rel="noopener noreferrer"><span class="about-info-text">@Localizer["Feedback"]</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_bg.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/i18n/bg.js"></script>
    <script src="~/lib/tempus-dominus/dist/js/tempus-dominus.js"></script>
    <script src="~/lib/popperjs/umd/popper.js"></script>
    <script src="~/lib/tempus-dominus/dist/js/jQuery-provider.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    @* <script src="~/lib/tempus-dominus/dist/plugins/customDateFormat.js"></script> *@
    <script src="~/lib/tempus-dominus/dist/plugins/fa-five.js"></script>
    <script src="~/js/tempus-dominus.bg.js"></script>
    <script src="~/lib/jquery-form/jquery.form.js"></script>
    <script src="~/lib/moment/moment-with-locales.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/uic-validation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @{
        await Html.RenderPartialAsync("_UserMessages");
    }

</body>
</html>
