@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var guestMenuItem = @ViewData["GuestMenuItem"]?.ToString();
    var mainClass = @ViewData["mainClass"]?.ToString() ?? "pb-3";

    var guestMenuItemDashboard = guestMenuItem == "Dashboard" ? "active" : string.Empty;
    var guestMenuItemEService = guestMenuItem == "EService" ? "active" : string.Empty;
    var guestMenuItemBlanks = guestMenuItem == "Blanks" ? "active" : string.Empty;
}
<!DOCTYPE html>
<html lang="@requestCulture.RequestCulture.UICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="~/lib/tempus-dominus/dist/css/tempus-dominus.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/secondary.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/steps.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/accessibility/accessibility.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header class="page-header">
        <div class="container-fluid">
            <a class="brand" href="/">
                <span class="small-title-text">@Localizer["SmallTitle"]</span>
                <span class="title-text">@Localizer["Title"]</span>
            </a>
            <nav class="guest-menu guest-menu--floating">
                @if (!string.IsNullOrEmpty(guestMenuItem))
                {
                    <ul class="guest-menu__list">
                        <li class="guest-menu__item"><a asp-controller="Home" asp-action="Dashboard" class="guest-menu__link @guestMenuItemDashboard">@Localizer["DashboardShort"]</a></li>
                        <li class="guest-menu__item"><a asp-controller="Home" asp-action="EService" class="guest-menu__link @guestMenuItemEService">@Localizer["EService"]</a></li>
                        <li class="guest-menu__item"><a asp-controller="Home" asp-action="Blanks" class="guest-menu__link @guestMenuItemBlanks">@Localizer["Blanks"]</a></li>
                    </ul>
                }
            </nav>
            <div class="d-flex">

                <partial name="_LoginPartial" />
                <nav aria-label="избор на език">
                    <ul class="nav justify-content-end">
                        <partial name="_LanguagePartial" />
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @{
        await Html.RenderPartialAsync("_ModalDialog");
    }
    <div class="main-container container">
        <main role="main" class="@mainClass pt-5">
            @RenderBody()
        </main>
    </div>
    @{
        await Html.RenderPartialAsync("_LayoutFooter");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_bg.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/i18n/bg.js"></script>
    <script src="~/lib/tempus-dominus/dist/js/tempus-dominus.js"></script>
    <script src="~/lib/popperjs/umd/popper.js"></script>
    <script src="~/lib/tempus-dominus/dist/js/jQuery-provider.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    @* <script src="~/lib/tempus-dominus/dist/plugins/customDateFormat.js"></script> *@
    <script src="~/lib/tempus-dominus/dist/plugins/fa-five.js"></script>
    <script src="~/js/tempus-dominus.bg.js"></script>
    <script src="~/lib/jquery-form/jquery.form.js"></script>
    <script src="~/lib/moment/moment-with-locales.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/uic-validation.js" asp-append-version="true"></script>
    <script src="~/accessibility/accessibility.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @{
        await Html.RenderPartialAsync("_UserMessages");
    }

</body>
</html>
