@using BlueCardPortal.Infrastructure.Contracts
@using Microsoft.AspNetCore.Identity
@using static EAuthIntegration.Models.EAuthIntegrationDefaults
@inject IViewLocalizer Localizer
@inject IUserContext UserContext

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <form id="formLogOut" method="post" action="@Urls.LogOut" style="display:none">
        @Html.AntiForgeryToken()
    </form>
    <a href="#" onclick="LogOut()" class="page-header__btn exit">
        @Localizer["Logout"]
    </a>
        <div class="page-header__btn profile">@UserContext.Name <br> @UserContext.LoginLabel()</div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="page-header__btn login">@Localizer["Login"]</a>
}
