@using BlueCardPortal.Models
@using Microsoft.AspNetCore.Identity
@using static EAuthIntegration.Models.EAuthIntegrationDefaults
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<BlueCardPortal.SharedResource> Localizer
@model LoginViewModel
@{
    Layout = String.Empty;
    ViewBag.Title = Localizer["SystemLogin"];
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@Localizer["SystemLogin"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/colors.css" rel="stylesheet" />
    <link href="~/css/buttons.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" asp-append-version="true" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/accessibility/accessibility.css" asp-append-version="true" />
</head>
<body class="login-picture-body">
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="login-page__info col-xl-6">
                    <div class="login-box-wrapper">
                        <header id="header" class="row">
                            <div class="col-12">
                                <div class="login-logo">
                                    <img src="~/images/logo.svg" alt="Blue Card Logo" />
                                </div>
                                <div class="title">
                                    @Localizer["SmallTitle"]
                                </div>
                                <div class="brand-login">
                                    @Localizer["LoginTitle"]
                                </div>
                            </div>
                        </header>
                        <main class="login-page__main row">
                            <div class="button-info-group">
                                <a href="@($"{Urls.LogIn}?returnUrl={Model.ReturnUrl}")" class="btn-main-icon"><i class="user-add-inverted"></i>
                                    <span class="btn-label-right">@Localizer["LoginMethod"]</span>
                                </a>
                                <div class="info">
                                    @Localizer["LoginMethodText"]
                                </div>
                            </div>
                            <nav>
                                <ul class="aside-list">
                                    <li><a asp-controller="Home" asp-action="Dashboard">@Localizer["DashboardShort"]</a></li>
                                    <li><a asp-controller="Home" asp-action="EService">@Localizer["EService"]</a></li>
                                    <li><a asp-controller="Home" asp-action="Blanks">@Localizer["Blanks"]</a></li>
                                </ul>
                            </nav>
                        </main>
                        @{
                            await Html.RenderPartialAsync("_LayoutFooter");
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/accessibility/accessibility.js" asp-append-version="true"></script>
</body>
</html>